<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="" [routerLink]="['/home']">Home</a>
      <a mat-list-item href="" [routerLink]="['/roles']">Role Restrictions</a>
      <a mat-list-item href="" [routerLink]="['/refresh']">Refreshing Tokens</a>
      <a mat-list-item href="" [routerLink]="['/blacklist']"
        >Blacklisting Tokens</a
      >
      <a mat-list-item href="" [routerLink]="['/custom-claims']"
        >Custom Claims</a
      >
      <a mat-list-item href="" [routerLink]="['/register']"
        >Email Registration</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ title$ | async }}</span>
    </mat-toolbar>

    <app-login></app-login>
    <router-outlet></router-outlet>
    <mat-tab-group>
      <mat-tab label="Messages">
        <app-message-viewer></app-message-viewer>
      </mat-tab>
      <mat-tab label="JWT Token">
        <app-token-viewer></app-token-viewer>
      </mat-tab>
      <mat-tab label="Request">
        <app-request-viewer></app-request-viewer>
      </mat-tab>
      <mat-tab label="Response">
        <app-response-viewer></app-response-viewer>
      </mat-tab>
    </mat-tab-group>

  </mat-sidenav-content>
</mat-sidenav-container>
