<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
>
  <div>
    <mat-card>
      <mat-card-title>Restricting access with roles</mat-card-title>
      <mat-card-content>
        This page demonstrates the use of roles to restrict access to protected
        routes.
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <app-login></app-login>
  </div>

  <div>
    <app-token></app-token>
  </div>

  <div>
    <mat-card>
      <mat-card-title>Endpoints</mat-card-title>
      <mat-card-content>
        <button>Protected</button>
        <button>Protected (Admin Required)</button>
        <button>Protected (Operator Accepted)</button>
      </mat-card-content>
    </mat-card>
  </div>

  <div
    class="container"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="left"
    fxLayoutGap="10px"
  >
    <div>
      <app-request-viewer></app-request-viewer>
    </div>

    <div>
      --response-viewer-here--
      <!--<app-response-viewer></app-response-viewer>-->
    </div>
  </div>

  <div>
    <app-message-viewer></app-message-viewer>
  </div>
</div>
