<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
>
  <div>
    <mat-card>
      <mat-card-title>Restricting access with roles</mat-card-title>
      <mat-card-content>
        This page demonstrates the use of roles to restrict access to protected
        routes.
      </mat-card-content>
    </mat-card>
  </div>


  <div>
    <app-token></app-token>
  </div>

  <div>
    <mat-card>
      <mat-card-title>Endpoints</mat-card-title>
      <mat-card-content>
        <button>Protected</button>
        <button>Protected (Admin Required)</button>
        <button>Protected (Operator Accepted)</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
