<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
>
  <mat-card>
    <mat-card-title>Embedding custom claims in your token</mat-card-title>
    <mat-card-content>
      <p>
        This page demonstrates how custom claims can be used to include user defined
        fields in the token. To see an example, log a user in.
      </p>

      <div *ngIf="nameParts$ | async as nameParts">
        <mat-card class="custom-card">
          <mat-card-header>
            <img mat-card-avatar *ngIf="avatarLink$ | async" [src]="avatarLink$ | async">
            <mat-card-title>{{nameParts.fullname}}</mat-card-title>
            <mat-card-subtitle>{{ nameParts.nickname || '(no nickname)' }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              This is the currently logged in user. The details in this card are
              driven by the custom claims included in the auth token. These include:
            </p>
            <ul>
              <li>First Name</li>
              <li>Surname</li>
              <li>Nickname</li>
              <li>Avatar URL</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>

      <app-endpoint-list
        name="custom-claims"
        [endpoints]="endpoints"
        (fire)="fire($event)">
      </app-endpoint-list>
    </mat-card-content>
  </mat-card>
</div>
