<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
>
  <mat-card>
    <mat-card-title>Confirming user registering via email</mat-card-title>
    <mat-card-content>
      <p>
        This page uses the registration token that was sent to you via email to finalize
        registration for the new user. The token shown here is an expiring registration
        token that was sent in the registration email.
      </p>
      <p>
        Once it is confirmed, the new user will be ready to log in. To confirm the
        user, click the "Confirm" endpoint button below
      </p>

      <mat-card class="token-card">
        <mat-card-title>Registration Token</mat-card-title>
        <mat-card-content>
          <p> {{ currentToken }} </p>
        </mat-card-content>
      </mat-card>

      <app-endpoint-list
        name="confirm"
        [endpoints]="endpoints"
        (fire)="fire($event)">
      </app-endpoint-list>
    </mat-card-content>
  </mat-card>
</div>
